
    <div class="contentWrap row-fluid">
      <div class="mainWrap clearfix">
        <div class="page-header">
          <h1>Change Log - Feed ID: {{singleFeed.ID}}</h1>
          <p class="lead">Active (Y/N)?: <span class="text-success">{{singleFeed.IS_ACTIVE}}</span></p>
        </div>
        <div class="tabbale-wrap clearfix">
          <div class="tabbable tabs-left pull-left">
            <ul id="inventorySubnavTab" class="nav nav-tabs">
				<li><a href="index.html#/feeds/{{singleFeed.ID}}">Feed Details</a></li>
                <li><a href="index.html#/transfers/{{singleFeed.ID}}">Transfers</a></li>
                <li><a href="index.html#/comments/{{singleFeed.ID}}">Comments</a></li>
                <li class="active"><a href="index.html#/changeLog/{{singleFeed.ID}}">Change Log</a></li>
            </ul>
          </div>
          <div class="tabbable-content pull-left">
            <div id="changeLogDetail" class="tab-content">
              <table id="changeLogTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="sortable">Date <i class="icon-chevron-down icon-white"></th>
                    <th class="sortable">Change by <i class="icon-chevron-down icon-white"></th>
                    <th class="sortable">Description <i class="icon-chevron-down icon-white"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      05/28/2013 08:54:23 AM UTC
                    </td>
                    <td>
                      name@email.com
                    </td>
                    <td>
                      <a href="index.html#/changeDetail/{{singleFeed.ID}}">Click for full description</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      05/28/2013 08:54:23 AM UTC
                    </td>
                    <td>
                      name@email.com
                    </td>
                    <td>
                      <a href="changeDetail.html">Click for full description</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      05/28/2013 08:54:23 AM UTC
                    </td>
                    <td>
                      name@email.com
                    </td>
                    <td>
                      <a href="changeDetail.html">Click for full description</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      05/28/2013 08:54:23 AM UTC
                    </td>
                    <td>
                      name@email.com
                    </td>
                    <td>
                      <a href="changeDetail.html">Click for full description</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      05/28/2013 08:54:23 AM UTC
                    </td>
                    <td>
                      name@email.com
                    </td>
                    <td>
                      <a href="changeDetail.html">Click for full description</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>