

    <div class="contentWrap row-fluid" ng-controller="FeedShowCtrl">
      <div class="mainWrap clearfix">
        <div class="page-header">
          <h1>Feed ID: {{singleFeed.ID}}</h1>
          <p class="lead">Active (Y/N)?: <span class="text-success">{{singleFeed.IS_ACTIVE}}</span></p>
        </div>
        <div class="tabbale-wrap clearfix">
			<div class="alert alert-success" ng-controller="CommentIndexCtrl" ng-show="postCommentSuccess">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          <strong>Comment Posted!</strong> 
	        </div>
			<div class="alert alert-error" ng-controller="CommentIndexCtrl" ng-show="postCommentFailure">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          <strong>Error Posting Comment. Please Try Again.</strong> 
	        </div>
          <div class="tabbable tabs-left pull-left">
            <ul id="inventorySubnavTab" class="nav nav-tabs">
				<li><a href="index.html#/feeds/{{singleFeed.ID}}">Feed Details</a></li>
                <li><a href="index.html#/transfers/{{singleFeed.ID}}">Transfers</a></li>
                <li class="active"><a href="index.html#/comments/{{singleFeed.ID}}">Comments</a></li>
                <li><a href="index.html#/changeLog/{{singleFeed.ID}}">Change Log</a></li>
            </ul>
          </div>
          <div class="tabbable-content pull-left">
            <div id="transferContent" class="tab-content">
              <div id="commentsContent">
				<form name="commentForm">
                <div id="commentForm" class="clearfix">
                  <div class="commentBtn span4">
                    <button class="btn btn-info btn-large" ng-click="save()">Comment</button>
                  </div>
                  <div class="textareaWrap span8">
                    <textarea name="name" type="text" rows="5" class="" ng-model="commentList.results.COMMENT_FEED" 
					placeholder="Insert Comment Here">	
                    </textarea>
                  </div>  
                </div> <!-- /commentForm -->
				</form>
                <hr />
			<div ng-repeat="comment in commentList.results | orderBy:'-TIME'">
				<div class="commentWrap clearfix">
					<div class="commentMeta text-right span4">
						<p><strong>{{comment.CURRENT_USER}}</strong></p>
						<p>{{comment.TIME | date:'medium'}} </p>
					</div>
					<div class="comment span8">
						<p>{{comment.COMMENT_FEED}}</p>
					</div>
				</div><!-- /commentWrap clearfix -->
				<hr/>
			</div><!-- /ng-repeat-->
				
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
