
    <div class="contentWrap row-fluid">
      <div class="mainWrap clearfix">
        <div class="page-header" ng-controller="FeedShowCtrl">
          <h1>Feed ID: {{singleFeed.ID}}</h1>
          <p class="lead">Active (Y/N)?: <span class="text-success">{{singleFeed.IS_ACTIVE}}</span></p>
        </div>
        <div class="tabbale-wrap clearfix">
          <div class="tabbable tabs-left pull-left">
            <ul id="inventorySubnavTab" class="nav nav-tabs">
				<li><a href="index.html#/feeds/{{params.id}}">Feed Details</a></li>
                <li><a href="index.html#/transfers/{{params.id}}">Transfers</a></li>
                <li class="active"><a href="index.html#/comments/{{params.id}}">Comments</a></li>
                <li><a href="index.html#/changeLog/{{params.id}}">Change Log</a></li>
            </ul>
          </div>
          <div class="tabbable-content pull-left">
            <div id="transferContent" class="tab-content">
				<!--Begin Success and Failure Messages-->
				<div ng-show="postCommentSuccess && commentForm.$pristine" class="alert alert-success">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>Comment Posted!</strong> 
		        </div>
				<div ng-show="postCommentFailure && commentForm.$pristine" class="alert alert-error">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>Error Posting Comment. Please Try Again.</strong> 
		        </div>
				<div ng-show="commentForm.$invalid && submitted && commentForm.$pristine" class="alert alert-error">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong>Comment Cannot Be Blank!</strong> 
		        </div>
				<!--/Success and Failure Messages-->
              <div id="commentsContent">
                <div id="commentForm" class="clearfix">
                  <div class="commentBtn span4">
                    <button class="btn btn-info btn-large" ng-click="save()">Comment</button>
                  </div>
                  <div class="textareaWrap span8">
					<form name="commentForm" novalidate>
                    <textarea name="name" type="text" rows="5" class="" ng-model="commentList.COMMENT_FEED" 
					placeholder="Insert Comment Here" required>	
                    </textarea>
					</form>
                  </div>  
                </div> <!-- /commentForm -->
                <hr />
			<div ng-repeat="comment in commentList | orderBy:'-CREATED_AT'">
				<div class="commentWrap clearfix">
					<div class="commentMeta text-right span4">
						<p><strong>{{comment.CURRENT_USER}}</strong></p>
						<p>{{comment.CREATED_AT | date:'medium'}} </p>
					</div>
					<div class="comment span8">
						<p>{{comment.COMMENT_FEED}}</p>
					</div>
				</div><!-- /commentWrap clearfix -->
				<hr/>
			</div><!-- /ng-repeat-->
				
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>