
    <div class="contentWrap row-fluid">
      <div class="mainWrap clearfix">
        <div class="page-header">
          <h1>{{feed.id}}</h1>
          <p class="lead">Current status: <span class="text-success">{{params.status}}</span></p>
        </div>
        <div class="tabbale-wrap clearfix">
          <div class="tabbable tabs-left pull-left">
            <ul id="inventorySubnavTab" class="nav nav-tabs">
                <li class="active"><a href="index.html#/feeds">Feed Details</a></li>
                <li><a href="index.html#/transfers">Transfers</a></li>
                <li><a href="index.html#/comments">Comments</a></li>
                <li><a href="index.html#/changeLog">Change Log</a></li>
            </ul>
          </div>
          <div class="tabbable-content pull-left">
            <div id="feedContent" class="tab-content">
              <div class="feedDetailColLeft span6">
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    In/Out:
                  </div>
                  <div class="detailRight">
                    Out
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Interface Type:
                  </div>
                  <div class="detailRight">
                    FI
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Interface Name:
                  </div>
                  <div class="detailRight">
                    {{params.interface}}
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    wM Interface:
                  </div>
                  <div class="detailRight">
                    Yes
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Active:
                  </div>
                  <div class="detailRight">
                    Yes
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    PCI:
                  </div>
                  <div class="detailRight">
                    Yes
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    PCI III:
                  </div>
                  <div class="detailRight">
                    No
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Interface Owner:
                  </div>
                  <div class="detailRight">
                    <a href="user.html">Bill Pearson</a>
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Safe Harbor:
                  </div>
                  <div class="detailRight">
                    No
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Safe Harbor Specific Data:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Interface Data Classification:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    To or From Safe Harbor Location:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Meets Which Policies and Standards:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Has Policy or Standards Issue:
                  </div>
                  <div class="detailRight">
                    No
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Security Exemption ID:
                  </div>
                  <div class="detailRight">
                    252
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Group:
                  </div>
                  <div class="detailRight">
                    Corporate
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Last Date Audited:
                  </div>
                  <div class="detailRight">
                    05/28/2013
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Encryption Needed:
                  </div>
                  <div class="detailRight">
                    Yes
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    File Name Written to Shuttle:
                  </div>
                  <div class="detailRight">
                    SRDSREPORT
                  </div>
                </div>
              </div>
              <div class="feedDetailColRight span6">            
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    IL File Name:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    IL File Name:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Istrategy:
                  </div>
                  <div class="detailRight">
                    2022
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    EART Entry:
                  </div>
                  <div class="detailRight">
                    Yes
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Interface Description:
                  </div>
                  <div class="detailRight">
                    Incoming AP Approved Invoice <a href="#">...</a>
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    BU, Segment, Entity:
                  </div>
                  <div class="detailRight">
                    CORP
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Implementation Pattern: 
                  </div>
                  <div class="detailRight">
                    Site to shuttle wM to SAP
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Source Application Name:
                  </div>
                  <div class="detailRight">
                    Merlin
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Source Data Format:
                  </div>
                  <div class="detailRight">
                    Pipe Delimited
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Source Location:
                  </div>
                  <div class="detailRight">
                    USA
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Target Application Name:
                  </div>
                  <div class="detailRight">
                    SAP
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Target Data Format:
                  </div>
                  <div class="detailRight">
                    IDOC
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Target Location:
                  </div>
                  <div class="detailRight">
                    USA
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    A2A or B2B:
                  </div>
                  <div class="detailRight">
                    A2A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Message Type:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    IDoc Type:
                  </div>
                  <div class="detailRight">
                    FIDCCP02
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    IDoc Extension:
                  </div>
                  <div class="detailRight">
                    N/A
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Transformation Complexity:
                  </div>
                  <div class="detailRight">
                    Medium
                  </div>
                </div>
                <div class="feedDetailRow">
                  <div class="detailLeft">
                    Transactions Per:
                  </div>
                  <div class="detailRight">
                    1 to 999
                  </div>
                </div>
              </div>
              <div class="userControls text-center">
                <a href="index.html#/feedEdit/{{params.id}}/{{params.status}}/{{params.interface}}" class="editBtn btn btn-large btn-success">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

	Debug View
	{{feedList[0].id}} <br>
	Debug FeedID
	{{feedId}}
	FeedAttr
	{{Attr}}