
    <div class="headerWrap row-fluid">
      <div class="header clearfix">
          <div class="userControls pull-right">
            Logged in as <a href="#">name@email.com</a>  <a href="index.html" class="btn btn-inverse btn-mini">Logout</a>
          </div>
          <a class="logo" href="main.html"><img src="img/disney-logo-large.png" alt="Disney" /></a>
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav pull-right">
          <li class="active"><a href="main.html">Interface Inventory</a></li>
          <li><a href="alerts.html">Alerts and Warnings</a></li>
          <li><a href="query.html">Query Config Admin</a></li>
          <li><a href="monitoring.html">Monitoring</a></li>
        </ul>
      </div>
    </div>
    <div class="contentWrap row-fluid">
      <div class="mainWrap">
        <div class="page-header">
          <h1>SRDSREPORT2022</h1>
        </div>
        <div class="reportMeta">
          <p>Transfer Datetime: <span>05/28/2013 08:12:54 AM UTC</span></p>
          <p>Transfer Time Elaspe: <span>0m 45s</span></p>
          <p>Transfer Result: <span>Success</span></p>
          <p>Transfered on Feed: <span>D121</span></p>
          <p>Interface: <span>FI008</span></p>
          <p>Istrategy: <span>2022</span></p>
        </div>
        <hr />
        <h3>Transfer Log</h3>
        <table id="transferTable" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="sortable">Date <i class="icon-chevron-down icon-white"></th>
              <th class="sortable">Change by <i class="icon-chevron-down icon-white"></th>
              <th class="sortable">Description <i class="icon-chevron-down icon-white"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                05/28/2013 08:54:23 AM UTC
              </td>
              <td>
                name@email.com
              </td>
              <td>
                Lorem Ipsum 
              </td>
            </tr>
            <tr>
              <td>
                05/28/2013 08:54:23 AM UTC
              </td>
              <td>
                name@email.com
              </td>
              <td>
                Lorem Ipsum 
              </td>
            </tr>
            <tr>
              <td>
                05/28/2013 08:54:23 AM UTC
              </td>
              <td>
                name@email.com
              </td>
              <td>
                Lorem Ipsum 
              </td>
            </tr>
            <tr>
              <td>
                05/28/2013 08:54:23 AM UTC
              </td>
              <td>
                name@email.com
              </td>
              <td>
                Lorem Ipsum 
              </td>
            </tr>
            <tr>
              <td>
                05/28/2013 08:54:23 AM UTC
              </td>
              <td>
                name@email.com
              </td>
              <td>
                Lorem Ipsum 
              </td>
            </tr>
            <tr>
              <td>
                05/28/2013 08:54:23 AM UTC
              </td>
              <td>
                name@email.com
              </td>
              <td>
                Lorem Ipsum 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>