<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  <body class="blue">
    <div class="loginWrap row-fluid">
      <div class="span12">
        <img class="logo" src="img/disney-logo-large.png" alt="Disney" />
        <form name="loginForm" class="login">
          <h3 class="text-center">Log in to</h3>
          <h2 class="text-center">MFT Monitoring</h2>
          <div class="inputWrap row-fluid">
				<div class="alert alert-error" ng-show="{{loginAttempt}} && ({{userAttempt}} || {{passAttempt}})">
		          <button type="button" class="close" data-dismiss="alert">&times;</button>
		          <strong><center>{{loginError}}</center></strong> 
		        </div>
              <input type="text" name="email" ng-model="user.email" placeholder="Email" required>
              <input type="text" name="password" ng-model="user.password" placeholder="Password" required>
              <label class="checkbox">
                <input type="checkbox" name="rememberMe" ng-model="user.rememberMe"> Remember me on this computer
              </label>
              <div class="userControls">
                <button class="loginBtn btn btn-primary btn-large" ng-click="login()">Log In</button>
              </div>
              <a class="forgotPass" href="#" ng-click="do(); $event.preventDefault()" class="pull-right">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>