
    <div class="contentWrap row-fluid">
      <div class="mainWrap">
        <div id="monitoringContent" class="tab-content">
          <table id="averagesTable" class="table">
            <thead>
              <tr>
                <th colspan="2">Daily Volume</th>
                <th colspan="2">Monthly Volume</th>
                <th colspan="2">Yearly Volume</th>
                <th colspan="2">Successful Transfers</th>
                <th colspan="2">Failed Volume</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Today:</td>
                <td class="text-right">3.05 GB</td>
                <td>This Month:</td>
                <td class="text-right">30.59 GB</td>
                <td>This Year:</td>
                <td class="text-right">300.05 GB</td>
                <td>Today:</td>
                <td class="text-right">3001</td>
                <td>Today: </td>
                <td class="text-right">0</td>
              </tr>
              <tr>
                <td>Avg:</td>
                <td class="text-right">3.05 GB</td>
                <td>Avg:</td>
                <td class="text-right">30.59 GB</td>
                <td>Avg:</td>
                <td class="text-right">300.05 GB</td>
                <td>Avg:</td>
                <td class="text-right">3001</td>
                <td>Avg: </td>
                <td class="text-right">0</td>
              </tr>
            </tbody>
          </table>
          <div class="graphs clearfix">
            <div class="left">
              <div class="imgWrap">
                <img src="img/graph-1.png" alt="" />
              </div>
            </div>
            <div class="right">
              <img src="img/pie-graph-big.jpg" alt="" />
            </div>
          </div>
          <div id="currentTransfers">
            <h2 class="text-center">Current Transfers</h2>
             <table id="curTransfersTable" class="table">
              <thead>
                <tr>
                  <th width="25">Feed</th>
                  <th width="150">File Name</th>
                  <th>Progress</th>
                  <th width="100" class="text-center">Elasped Time</th>
                  <th width="100" class="text-center">File Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>F1001</td>
                  <td>SF282Report</td>
                  <td>
                    <div class="progress">
                      <div class="bar bar-success" style="width: 35%;"></div>
                        <div class="bar bar-warning" style="width: 20%;"></div>
                        <div class="bar bar-danger" style="width: 10%;"></div>
                      </div>
                    </td>
                  <td class="text-center">1:23</td>
                  <td class="text-center">25.3 MB</td>
                </tr>
                <tr>
                  <td>F1001</td>
                  <td>SF282Report</td>
                  <td>
                    <div class="progress">
                      <div class="bar bar-success" style="width: 35%;"></div>
                        <div class="bar bar-warning" style="width: 20%;"></div>
                        <div class="bar bar-danger" style="width: 10%;"></div>
                      </div>
                    </td>
                  <td class="text-center">1:23</td>
                  <td class="text-center">25.3 MB</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>