
    <div class="contentWrap row-fluid">
      <div class="mainWrap clearfix">
        <div class="page-header">
          <h1>Feed ID: {{params.id}}</h1>
          <p class="lead">Current status: <span class="text-success">Active</span></p>
        </div>
        <div class="tabbale-wrap clearfix">
          <div class="tabbable tabs-left pull-left">
            <ul id="inventorySubnavTab" class="nav nav-tabs">
				<li><a href="index.html#/feeds/{{params.id}}">Feed Details</a></li>
                <li class="active"><a href="index.html#/transfers/{{params.id}}">Transfers</a></li>
                <li><a href="index.html#/comments/{{params.id}}">Comments</a></li>
                <li><a href="index.html#/changeLog/{{params.id}}">Change Log</a></li>
            </ul>
          </div>
          <div class="tabbable-content pull-left">
            <div id="transferContent" class="tab-content">
              <p>Transfers...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
