<html>
	<head>
		<title>MFT Pages</title>
	</head>
	<body>
		<ul>
			<li><a href="alerts.html">alerts.html</a></li>
			<li><a href="changeDetail.html">changeDetail.html</a></li>
			<li><a href="changeLog.html">changeLog.html</a></li>
			<li><a href="comments.html">comments.html</a></li>
			<li><a href="feed.html">feed.html</a></li>
			<li><a href="feedEdit.html">feedEdit.html</a></li>
			<li><a href="file.html">file.html</a></li>
			<li><a href="index.html">index.html</a></li>
			<li><a href="main.html">main.html</a></li>
			<li><a href="monitoring.html">monitoring.html</a></li>
			<li><a href="query.html">query.html</a></li>
			<li><a href="transfers.html">transfers.html</a></li>
			<li><a href="user.html">user.html</a></li>
		</ul>
	</body>
</html>
