
    <div class="contentWrap row-fluid">
      <div class="mainWrap">
        <div class="ruleWrapper well">
        <h3>Rule 1</h3>
        <hr />
        <div class="ruleName">
          <h5>Rule Name: </h5>
          <p>Some Name</p>
        </div>
        <div class="ruleDescription">
          <h5>Rule Description: </h5>
          <p>Some Description</p>
        </div>
        <hr />
        <div class="userControls">
		  <a href="#" class="btn btn-primary" ng-click="do(); $event.preventDefault()">Edit Rule</a>
        </div>
      </div>
      <div class="ruleWrapper well">
        <h3>Rule 1</h3>
        <hr />
        <div class="ruleName">
          <h5>Rule Name: </h5>
          <p>Some Name</p>
        </div>
        <div class="ruleDescription">
          <h5>Rule Description: </h5>
          <p>Some Description</p>
        </div>
        <hr />
        <div class="userControls">
          <a href="#" class="btn btn-primary" ng-click="do(); $event.preventDefault()">Edit Rule</a>
        </div>
      </div>
     </div><!--/mainWrap-->
   </div>